@model IEnumerable<Project2.Models.User>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Users <i class="bi bi-people-fill"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="navbar-collapse" id="navbarScroll">
            <form class="d-flex" asp-action="AccountManager" asp-controller="Account" method="post">
                <input class="form-control me-2" name="searchString" type="search" placeholder="Search Email" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search <i class="bi bi-search"></i></button>
            </form>
        </div>
        <button type="button" class="btn btn-outline-dark mr-2" data-toggle="modal" data-target="#AddUserModal">user<i class="bi bi-person-plus-fill"></i></button>
        <button type="button" onclick="location.href='@Url.Action("Packages","Package")'" class="btn btn-outline-dark mr-2">Back to packages<i class="bi bi-arrow-return-left"></i></button>
        <button type="button" onclick="location.href='@Url.Action("Logout","Account")'" class="btn btn-outline-dark">Exit <i class="bi bi-box-arrow-right"></i></button>
    </div>
</nav>
<table class="table table-striped table-hover">
    <tr>
        <th scope="col">#</th>
        <th scope="col">
            <a asp-action="AccountManager" asp-route-sortOrder="@ViewBag.Name">
                User Email <i class="bi bi-funnel-fill"></i>
            </a>
        </th>
        <th scope="col">Action</th>
    </tr>
    @foreach (var item in Model)
    {
        @if (!item.Role.Name.Equals("admin"))
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Email</td>
                <td>
                    <a asp-action="EditUser" asp-controller="Account" asp-route-id="@item.Id">Edit <i class="bi bi-pencil-square"></i></a> |
                    <a href="#" class="delete">Delete <i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    }
</table>

@await Html.PartialAsync("Register", new Project2.ViewModels.RegisterModel())

<script>
    $(".delete").click(function (e) {
              var parent = $(this).parents("tr");
              var id = parent.find("th:eq(0)").text();

                  $.ajax({
                  type: "DELETE",
                  url: "@Url.Action("DeleteUser","Account")",
                  data: { id: id },
                  dataType: "text",
                  success: function (result) {
                   if (result == "success")
                       parent.hide();
                   else
                       alert(result);
                  },
                  error: function (xhr, status, error) {
                      console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                  }
              });
          });
</script>
