@using System.Security.Claims
@model IEnumerable<Project2.Models.Package>
@{
    var isAdmin = User.FindFirst(x => x.Type.Equals(ClaimsIdentity.DefaultRoleClaimType)).Value.Equals("admin");
}
<table class="table table-striped table-hover package-table">
    <thead class="table-thead">
        <tr>
            <th scope="col">#</th>
            <th scope="col" onclick="sortTable(this)">Track Number<i class="bi bi-funnel-fill"></i></th>
            <th scope="col" onclick="sortTable(this)">Starting Point<i class="bi bi-funnel-fill"></i></th>
            <th scope="col" onclick="sortTable(this)">End Point<i class="bi bi-funnel-fill"></i></th>
            <th scope="col" onclick="sortTable(this)">Last Location<i class="bi bi-funnel-fill"></i></th>
            <th scope="col" onclick="sortTable(this)">Current State<i class="bi bi-funnel-fill"></i></th>
            <th scope="col" onclick="sortTable(this)">Last Date Of Update <i class="bi bi-funnel-fill"></i></th>
            @if (isAdmin)
            {
                <th scope="col">Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.TrackNumber</td>
                <td>@item.StartingPoint</td>
                <td>@item.EndPoint</td>
                <td>@item.LastLocation</td>
                <td>@item.CurrentState</td>
                <td>@item.LastDateOfUpdate</td>
                @if (isAdmin)
                {
                    <td>
                        <a asp-action="EditPackage" asp-controller="Package" asp-route-id="@item.Id">Edit <i class="bi bi-pencil-square"></i></a> |
                        <a href="#" onclick="deletePackage(this)">Delete <i class="bi bi-trash-fill"></i></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<div class="pagination" id="pagination"></div>